.wrap{
   width: 240px;
   height: auto;
   position: absolute;
   margin: 0px 0px 0px -150px;
   top: 50%;
   left: 50%;
   overflow: auto;
   font-size: 20pt;
}

.data{
	margin-top: 20px;
}

.confirm input{
	background-color: #ccc;
	color: #fff;
	border-radius: 4px;
	padding: 10px 10px 10px 10px;
	font-size: 17px;
	margin-top: 25px;
	float: right;
}
